<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <p>See Divya it is working, I told you it will work, listen to me sometimes</p>
    {{>footer}}
</body>

</head>


</html>